 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 572px;
}

.u-section-1 .u-image-1 {
  width: 671px;
  height: 471px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 462px;
  height: auto;
  margin: -463px auto 60px 46px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-1 .u-image-2 {
  width: 285px;
  height: 215px;
  margin: -77px auto 0 127px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 12px 20px 0;
}

.u-section-1 .u-line-1 {
  width: 102px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 34px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 379px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -371px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 104px;
    height: 77px;
    margin-top: -31px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 105px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 239px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -212px;
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 834px;
}

.u-section-2 .u-image-1 {
  height: 836px;
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -823px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 131px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 27px 21px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 131px;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: normal;
  margin: 27px 21px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 131px;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 131px;
}

.u-section-2 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 3rem;
  margin: 27px 21px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  background-image: url("np://user.desktop.nicepage.com/Site_2484119306/images/3c47732aa688823b96f857f8b37921b6.png?rand=1dd2");
  min-height: 131px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-size: 3rem;
  font-weight: normal;
  margin: 27px 21px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-6 {
  background-image: none;
  min-height: 131px;
}

.u-section-2 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  font-weight: normal;
  margin: 27px 21px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: 44px calc(((100% - 1140px) / 2) + 40px) 60px calc(((100% - 1140px) / 2) + 83px);
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1439px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 44px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 108px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 108px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 108px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-top: 44px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-image-2 {
    min-height: 108px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 108px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1423px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 83px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-image-2 {
    min-height: 83px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 46px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1710px;
  }

  .u-section-2 .u-image-1 {
    height: 1425px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1412px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 68px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 187px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 68px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 187px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 67px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1641px;
  }

  .u-section-2 .u-image-1 {
    height: 1616px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1603px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 56px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 118px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 56px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-2 {
    min-height: 118px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 69px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}